body {
    min-width: 1280px;
    padding: 0;
    background: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

h2, h3, h4, p {
    padding: 0;
    margin: 0;
}