.video__item {
    position: relative;
    max-height: 323px;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
}

.video__item:before {
    position: absolute;
    content: '';
    display: block;
    top: 30px;
    left: 30px;
    width: 41px;
    height: 41px;
    background: url('../../../img/play.svg') no-repeat;
    z-index: 1;
}

.video__item:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 0;
    transition: opacity ease 500ms;
}

.video__item:hover:after {
    opacity: 0.8;
}